*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.HomePage, .NotifyPage, .LoginPage, .RecipePage, .navbar{
    display: none;
}

.pageError{
    text-align: center;
    margin: 0 auto;
}
.pageError img{
    width: auto;
}
.pageError h1{
    color: rgb(99, 15, 99);
    font-size: 3em;
}
.pageError p{
    margin-top: 0.6em;
    color: rgb(135, 33, 135);
    font-size: 1.2em;
    font-style: italic;
}

@media only screen and (max-width: 380px){
    .HomePage, .NotifyPage, .LoginPage, .RecipePage, .navbar{
        display: block;
    }
    .pageError{
        display: none;
    }
    body {
        background: #f8f8f8;
    }
    .form-login{
        padding: 2em;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    .labels{
        position: relative;
        display: block;
    }
    .labels p{
        top: 0;
        position: absolute;
        user-select: none;
        transform: translateY(150%);
        text-align: left;
        padding-left: 1.3em;
        color: #d14434;
        transition: all;
    }
    .labels input:focus{
        border: 1px solid #d14434;
        outline: none;
        padding-left: 0.8em;
        width: 97%;
    }
    .labels input{
        width: 100%;
        padding: 0.8em 0em;
        
        border: 1px solid #fa807235;
        border-radius: 1vw;
        margin: 0.7em 0;
        background: transparent;
        
    }
    .labels input:focus + p, .labels input:not(:placeholder-shown) + p{
        background-color: #f8f8f8;
        left: 1em;
        padding: 0 0.5em;
        font-size: 0.9em;
        transform: translateY(-50%);
        top: 0.8em;
        transition: transform 0.4s;
    }
    .login{
        padding: 0.8em;
        background: #d14434;
        color: #f2f2f2;
        border: none;
        width: 100%;
        border-radius: 5px;
        margin-top: 1em;
    }
    
    .labels input:not(:focus) + p {
        color:  #d14434;
    }

    .loginIcon{
        width: 80px;
    }
    figure{
        margin: 0 auto;
        margin-top: 80px;
        text-align: center;
    }
    input::-webkit-input-placeholder{
        color: transparent;
    }
    figure figcaption{
        font-size: 2.5em;
        color: #df8237;
        font-weight: 800;
        margin-top: 0.4em;
        margin-bottom: 0.1em;
    }
    figure p{
        color: #389393;
        font-style: italic;
    }
    .userInfo p{
        color: #df8237;
        text-align: center;
        padding: 0.4em 0;
        font-size: 0.9em;
    }
    .userInfo a{
        font-weight: 800;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    /* CSS for Navbar */
    li a { 
        text-decoration: none;
        color: grey;
    }
    a:focus{
        color: #2bbaba;
    }
    .navlogo{
        width: 50px;
    }
    ul{
        z-index: 99;
        list-style: none;
        color: #389393;
        display: flex;
        bottom: 0;
        justify-content: space-around;
        position: fixed;
        border-top: 1px solid rgba(128, 128, 128, 0.324);
        padding-top: 0.5em;
        width: 100%;
        background-color: #f7f7f7;
        box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.071);
    }
    li{
        padding: 1em 0em;
        display: inline;
        text-align: center;
        color: grey;
    }
    li:active{
        color: #389393;
    }
    .fa{
        display: block;
        margin-bottom: 5px;
    }
    /* CSS for HomePage */
    .HomePage{
        margin-top: 2em;
        margin-bottom: 7em;
        color: #389393;
    }
    .HomePage h1{
        font-size: 2em;
        margin-bottom: 0.4em;
    }
    header, .maincontent{
        padding: 1.5em 2em;
    }
    .headerpicture img{
        box-shadow: 2px 2px 10px 0 #e4e4e4;
        border-radius: 10px;
        width: 100%;
        margin-top: 3em;
    }
    .headerpicture button{
        padding: 0.8em 2em;
        border: none;
        background: #d14434;
        color: white;
        border-radius: 5px;
        transform: translateY(-120%);
        margin-left: 0.4em;
        font-weight: 800;
    }
    main h1{
        border-bottom: 4px solid #d14434;
        padding-bottom: 0.2em;
        position: absolute;
        transform: translateY(-10%)
    }
    .maincontent, .home1stcontent{
        margin-bottom: 3em;
    }
    .itemfood{
        display: flex;
        justify-content: space-around;
        overflow-x: auto;
        /* width: 500px; */
    }
    .boxfood{
        margin-top: 5em;
        width: 30%;
        border: 0px solid white;
        border-radius: 5px;
        box-shadow: 4px 0px 10px 1px rgba(183, 158, 158, 0.235);
    }
    .boxfood img{
        padding: 0;
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
    .boxfood p{
        padding: 10px;
        font-weight: 800;
        color: #d14434;
    }
    .boxfood button{
        background: #d14434;
        color: white;
        border: none;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        padding: 0.8em 0;
    }
    .boxaction{
        display: flex;
        justify-content: space-around;
        margin-top: 8em;
        justify-content: flex-end;
        background: white;
    }
    .boxaction img{
        width: 70%;
    }
    .home1stContent h1{
        transform: translateY(-170%);
        right: 2em;
    }
    .recipeact{
        display: block;
        background: #d14434;
        border: none;
        color: white;
        padding: 2em 1em;
        font-size: 1em;
        margin: 1em 2em;
    }
    /* CSS for Notify Page */
    .NotifyPage{
        padding: 0 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5em;
    }
    .NotifyPage h1{
        color: rgb(99, 15, 99);
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 0.8em;
        line-height: 1.5em;
    }
    .NotifyPage img{
        width: 80%;
    }
    .NotifyPage p{
        color: rgb(111, 22, 111);
    }
    /* CSS for Recipe Page */
    .RecipePage{
        padding: 2em;
    }
    .RecipePage h1{
        font-size: 2em;
        color: #d14434;
        border-bottom: 5px solid #389393;
        padding-bottom: 0.3em;
        position: absolute;
    }
    .RecipePage input{
        width: 90%;
        padding: 0.7em 1em;
        border: 1px solid #38939333;
        border-radius: 10px;
        background: transparent;
        transform: translateY(150%);
        color: #389393;
        font-size: 1.4em;
    }
    .RecipePage input:focus{
        outline: none;
        border: 1px solid #389393;
        border-radius: 10px;
        box-shadow: 0 4px 20px 0 rgba(211, 211, 211, 0.187);
    }
    .RecipePage input::-webkit-input-placeholder{
        color: #38939351;
    }
    .RecipePage .iconcari{
        color: #389393;
    }
    .RecipePage button{
        border: none;
        background: transparent;
        float: right;
        margin-right: 2em;
        transform: translateY(110%);
    }
    .result{
        margin-top: 7em;
        color: #389393;
    }
    .boxresult{
        margin-top: 2em;
        width: 45%;
        display: inline-table;
        background: white;
        border-radius: 5px;
        padding: 0.2em;
        margin-left: 0.7em;
        box-shadow: 0px 1px 10px 0px #dadada;
    }
    .image{
        width: 100%;
        height: 120px;
        border-radius: 5px;
        object-fit: cover;
    }
    .boxresult p{
        text-align: center;
        position: relative;
        padding: 0.5em;
        font-size: 1.1em;
        display: block;
        height: 30px;
        font-weight: 800;
    }
    .boxresult a{
        display: block;
        text-align: center;
        padding: 0.7em;
        border: 1px solid #d14434;
        color: #d14434;
        margin-top: 1em;
        border-radius: 5px;
    }
}
